.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 0 15px 0 15px;
  height: 60px;
}

.container {
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  background-color: aqua;
}

.item {
  align-self: center;
}

html, body {
margin: 0;
padding: 0;
}