.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 0 15px 0 15px;
  height: 60px;
}

.container {
  text-align: center;
  font-family: sans-serif;
  flex: 1;
}

.item {
  align-self: center;
}

.item_icons {
  align-self: center;
  margin: 0 5px 0 5px;
}

.footer {
  display: flex;
  background-color: grey;
  height: 50px;
  justify-content: center;
}
